<!--
  Generated template for the CamerapreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--<ion-header>

  <ion-navbar>
    <ion-title>ONVIF CAMERA</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
   <form [formGroup]="account" >
  <ion-card>
    <ion-card-header>
      ONVIF-CAMERA
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>IPAdress<span>&nbsp;</span></ion-label>
         <ion-input type="text" formControlName="ipadress"></ion-input>
            
      </ion-item>

      <ion-item>
        <ion-label>Login</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password<span>&nbsp;</span></ion-label>
        <ion-input type="password" formControlName="pwd"></ion-input>
      </ion-item>
<ion-item>
<ion-list>
      <button ion-button type="submit" (click)="connecttocamera()" >Connect To Camera</button>
         <button ion-button type="submit" (click)="savedetails()" >Save Details</button>
            <button ion-button type="submit" (click)="viewdetails()" >View Details</button>
</ion-list>
</ion-item>
<ion-item>
        <ion-list>
            <ion-label align="centre">
                View Saved Items
            </ion-label>
 <ion-item *ngFor="let alarm of dataToStore">
     {{alarm.ipadress}}

 
 </ion-item>
      
      </ion-list>
      
</ion-item>
    </ion-card-content>
  </ion-card>
   </form>
</ion-content>-->
<!--
  Generated template for the CamerapreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>ONVIF CAMERA</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
   <form [formGroup]="account" >
  <ion-card>
    <ion-card-header>
      ONVIF-CAMERA
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>IPAddress<span>&nbsp;</span></ion-label>
         <ion-input type="text" formControlName="ipadress" value={{ipadress}}></ion-input>
            
      </ion-item>

      <ion-item>
        <ion-label>Login</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password<span>&nbsp;</span></ion-label>
        <ion-input type="password" formControlName="pwd"></ion-input>
      </ion-item>
<ion-item>
<ion-list>
      <button ion-button type="submit" (click)="connecttocamera()" >Connect To Camera</button>

        <button ion-button type="submit" (click)="savedetails()" >Save Details</button>
    <!--       <button ion-button type="submit" (click)="viewdetails()" >View Details</button>-->
      </ion-list>

    
</ion-item>

<ion-item>
  
          
</ion-item>
 <!--<ion-item >
<ion-list>
  IPAddress={{detailsList.ipadress}}
  Login={{detailsList.login}}
  Password={{detailsList.Password}}
      
      </ion-list>
  </ion-item>-->
      <ion-item>
	  <ion-label>Saved logins</ion-label>
	  <ion-select multiple="false" (ionChange)="update()">
	    <ion-option>{{detailsList.ipadress}}</ion-option>
	  </ion-select>
	</ion-item>
     

    </ion-card-content>
  </ion-card>
   </form>
</ion-content>









